* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: #d1cecf;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  border-radius: 40px;
  box-shadow: 0 0 20px 10px rgba(107, 107, 107);
  width: 1120px;
}

.main__left {
  background-color: #3c4773;
  padding: 30px 40px 60px;
  border-radius: 40px 0 0 40px;
  color: #fff;
}

.is-day {
  background-color: #b1daf2;
  color: #000;
}

.main__form {
  position: relative;
  margin-bottom: 20px;
}

.main__input {
  width: 250px;
  height: 30px;
  border: none;
  background-color: #eeedf0;
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
}

.form__search {
  position: absolute;
  top: 50%;
  right: 5px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transform: translate(0, -50%);
}

.search__icon {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.search__icon:hover {
  transform: scale(1.2);
}

.left {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
}

.left__weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 170px;
  margin-bottom: 20px;
}

.weather__img {
  width: 170px;
  height: 170px;
}

.weather__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.weather__temperature {
  font-size: 75px;
  font-weight: 400;
  margin-bottom: 10px;
}

.weather__description {
  font-size: 16px;
}

.left__location {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left__location::before {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #eeedf0;
  margin-bottom: 40px;
}

.location__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  font-size: 16px;
  gap: 10px;
}
.data {
  font-size: 18px;
}

.location__city {
  font-size: 30px;
}

.main__right {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  padding: 30px 40px 80px 20px;
  border-radius: 0 40px 40px 0;
  /* box-shadow: 0 0 20px 10px rgba(107, 107, 107); */
}

.right__text {
  display: flex;
  gap: 10px;
  font-size: 20px;
  margin-bottom: 30px;
}

.today,
.tomorrow {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.today:hover,
.tomorrow:hover {
  transform: scale(1.2);
}

.active {
  font-weight: 600;
}

.right__properties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  color: #fff;
}

.property {
  width: 225px;
  height: 135px;
  background-color: #748cf1;
  border-radius: 30px;
  padding: 20px;
  font-size: 20px;
  font-weight: 100;
}

.property__header {
  margin-bottom: 20px;
}

.property__value {
  font-size: 28px;
  margin-bottom: 10px;
  font-weight: normal;
}

.property__addition {
  font-size: 18px;
  margin-bottom: 10px;
}
